<h1>Would You Rather</h1>
<hr>

<div class="all-questions">
  <div id= "all-questions-table">
  <%= render(@questions) %>
  </div>
</div>

<div class="links">
  <p><%= link_to "Add another set of questions", new_question_path, id: 'new_questions', remote: true %></p>
</div>
