/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body{
  margin-right:10%;
  margin-left:10%;
  padding: 10%;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  background-color:black;
}

a{
  color:white;
}

#all-questions-table{
  list-style-type: none;
}

.question-item {
  font-family: 'Lora', serif;
  font-size: 25px;
}

.question-vote-item{
  opacity: .6;
  font-size: 15px;
}

#orspacing{
  margin: 5%;
}

.style1{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#style2 {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
#style2:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#new_question {
  color:black;
}

.search-text-format{
  color:black;
}
.text-format{
  color:white;
}

#query{
  color:black;
}

.edit_question{
  color:black;
}
